* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #f9fafc;
}

.navbar {
  display: flex; /*phone 375px, ipad: 768px, */
  align-items: center; /* Aligns all the items to center of the navbar */
  justify-content: space-around; /* Gives space between the items in the navbar*/
  background-color: #fff;
}

.navbar__brand {
  width: 100px;
}

.navbar__logo {
  width: 100%;
}

.nav__item {
  background-image: linear-gradient(            /*we are basically treating the gradient as image this is how gradient works in css*/
    to right,  /*shifting it to right the colors from left to right*/
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px; /* to give curvy look to the button*/
    font-weight: 600;
}

.nav__item:hover {
  background-position: right center; /*adding hover effect*/
  border: 2px solid #FF6767;
  cursor: pointer; /*WHEN YOU HOVER OVER THE BUTTON A HAND WILL APPEAR INSTEAD OF POINTER*/
}

@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 10px 10px;
  }
}

@media (min-width: 1024px) {
  .navbar__brand {
    width: 150px; /*increasing the size of navbar brand*/
  }
  .nav__item {
    padding: 20px;
    font-size: 20px;
  }
}
